@use './partials/variables' as*;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.text {
    width: 40%;
}

img {
    max-width: 100%;
}

.button {
    font-size: 14px;
    color: $primary;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.button.blue {
    background-color: #556EED;
    margin-left: 30px;
}

.button.yellow {
    background-color: $secondary;

}